* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    z-index: 100;
    position: relative;
    font-family: 15px;
  }
 
  
  .oneone{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
 align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
    

  }


  .oneone:hover{
    opacity: 1;
    z-index: 100;
    
  }


 
  
.twotwo{ 
  opacity: 0;
  position: absolute;
  margin-top: -500px;
  margin-left: 0px;
  cursor: pointer;
  height: 500px;
  width: 370px;
padding: 50px;
align-content: center;
  background-color: rgba(240, 248, 255, 0.262);
  

}


.twotwo:hover{
  opacity: 1;
  
}

.threethree{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
    
  
  }
  
  
  .threethree:hover{
    opacity: 1;
    
  }

  .four{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
  }
  
  
  .four:hover{
    opacity: 1;
  }

  .five{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
  }
  
  
  .five:hover{
    opacity: 1;
  }

  .six{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
  }
  
  
  .six:hover{
    opacity: 1;
  }

  .seven{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
  }
  
  
  .seven:hover{
    opacity: 1;
  }

  .eight{ 
    opacity: 0;
    position: absolute;
    margin-top: -500px;
    margin-left: 0px;
    cursor: pointer;
    height: 500px;
    width: 370px;
  padding: 50px;
  align-content: center;
    background-color: rgba(240, 248, 255, 0.262);
  }
  
  
  .eight:hover{
    opacity: 1;
  }

  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  